<figure class="card">
  <div class="card__hero">
      <img src="/{%IMAGE%}" alt="{%PRODUCTNAME%}" class="card__img">
  </div>
  <h2 class="card__name">{%PRODUCTNAME%}</h2>
  <p class="card__detail"><span class="emoji-left">🖥</span> {%SCREEN%}</p>
  <p class="card__detail"><span class="emoji-left">🧮</span> {%CPU%}</p>
  <div class="card__footer">
      <p class="card__price">${%PRICE%}</p>
      <a href="/laptop?id={%ID%}" class="card__link">Check it out <span class="emoji-right">👉</span></a>
  </div>
</figure>